/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: #f7fafd;
  color: $body-color;
}

@import "highlight.js/scss/stackoverflow-light";

[data-dark-mode] {
  @import "highlight.js/scss/stackoverflow-dark";
}
